.classes {
  grid-column: 2;
  grid-row: 2 / 4;
  margin: 10px;
  border: 1px solid white;
  border-radius: 12px;
}

.classes-list {
  list-style-type: none;
  text-align: left;
}

.red {
  color: red;
}
